.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.db
db.sqlite
likeone.db
*.sqlite
LOAcademy/build/
LOAcademy/Screenshots/
